@import "../../global.scss";

.testimonials{
    background-color:white;
    display: flex;
    flex-direction:column;
    align-items: center;
    @include mobile{
        justify-content: space-around;
    }

    h1{
        font-size: 40px;
        padding: 5px;
        overflow: hidden;
        @include mobile{
            font-size: 20px;
        }
    }
    .container {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            flex-direction: column;
            justify-content: space-around;
        }
    }
    .card{
        padding: 20px;
        width: 250px;
        height: 70%;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        transition: all 1s ease;
        @include mobile{
            margin:10px 0px;
            height: 120px;
        }
        &.featured{
            width: 300px;
            height:75%;
            margin:0px 30px;
            @include mobile{
                width: 250px;
                height: 120px;
                margin: 1px;
            }
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    
        .top{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            
            .leftIcon,
            .rightIcon{
                height: 25;
                cursor: pointer;
            }
            .myImage{
                height:90px;
                width:90px;
                border-radius: 50%;
                object-fit: cover;
                margin: 0px 30px;
                @include mobile{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .center{
            padding: 10px;
            background-color: lightgrey;
            border-radius: 10px;
            overflow: hidden;
            font-size: 15px;
            @include mobile{
                font-size: 12px;
                padding: 5px;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            h3{
                margin-bottom: 5px;
                text-align: center;
                overflow: hidden;
                @include mobile{
                    font-size: 14px;
                }
            }
            h4{
                color: grey;
                text-align: center;
                overflow: hidden;
                font-size: 12px;
                @include mobile{
                    font-size: 13px;
                }
            }
    }
}